* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.main-container {
  position: relative;
  width: 100%;
  height: 700px;
  /* height: 105vh; */
  /* background: url("../images/netflix-bg.jpg") no-repeat center center/cover; */
  /* background: url("../images/background.jpg") no-repeat center center/cover; */
  background: url("../images/background.jpg");
  /* background: url("../images/gandhi.jpg"); */
  /* background-attachment: fixed; */
}

.main-container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  /* box-shadow: inset 90px 100px 250px #000, inset -90px -100px 250px #000; */

  box-shadow: inset 20px 20px 50px #000, inset -20px -20px 50px #000;
}

/* .top-btn {
  position: absolute;
  top: 30px;
  width: 100%;
  z-index: 2;
} */

nav.navbar {
  position: absolute;
  top: 5%;
  width: 100%;
  z-index: 2;
}

div.right {
  /* display: inline-block; */
  margin-right: 55px;
  /* position: relative; */
  float: right;
}

.netflix {
  color: #e50914;
  margin-left: 4%;
  width: 120px;
  height: 35px;
  z-index: 2;
}

.select-language-container {
  position: relative;
  display: inline-block;
}
/* 
.fa-globe {
  color: #fff;
} 

.select-language-container::before {
  content: "";
  background-image: url("../images/globe-solid.svg");
  color: #fff;
} */

.select-language {
  padding: 9px 10px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border-style: solid;
  border-color: gray;
  border-radius: 3px;
}

.select-language-items {
  background-color: gray;
  /* padding: 5px 0px; */
}

div.position {
  /*position: relative;
  left: 62%;
  top: -4px;
  right: 25px; */
  margin-right: 35px;
}

.sign-in {
  cursor: pointer;
  float: right;
  margin-right: 6px;
  padding: 10px 17px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
}

.content {
  position: absolute;
  left: 50%;
  top: 220px;
  transform: translate(-50%);
  z-index: 2;
  width: 550px;
  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.content h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
}

.content h3 {
  font-size: 26px;
  font-weight: 400;
  line-height: normal;
  margin: 18px 0;
}

.content p {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  width: 600px;
}

.input {
  /* position: absolute;
  left: 50%; */
  width: 650px;
  position: relative;
  left: 50%;
  top: 460px;
  transform: translate(-50%);
  z-index: 2;
  text-align: center;
}

.input .fa-chevron-right,
.input-faq .fa-chevron-right {
  margin-left: 10px;
}

.inp-box {
  font-size: 18px;
  padding: 5px;
  margin-right: 0;
  float: left;
  display: block;
  width: 450px;
  height: 60px;
}

.inp-box:focus {
  outline-style: solid;
  outline-color: aqua;
  outline-width: 1px;
}

input:focus::-webkit-input-placeholder {
  font-size: 0.75em;
  font-weight: 600;
  position: relative;
  top: -15px;
  transition: 0.2s linear;
}

input::-webkit-input-placeholder {
  transition: 0.2s linear;
}
/*
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
  top: 8px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;
}
*/
.strt-btn {
  margin-right: 0;
  float: left;
  display: block;
  width: 200px;
  height: 60px;
  color: #fff;
  background-color: #e30813;
  /* background-color: #e50914; */
  border: none;
  font-size: 26px;
  cursor: pointer;
}

.strt-btn:hover {
  background-color: #e50914;
}

.line-break {
  background-color: #222;
  width: 100%;
  height: 9px;
}

.mini {
  width: 100%;
  /* height: 75vh; */
  height: 480px;
  background-color: black;
  color: #fff;
}

.animated-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 95%;
  margin: auto;
}

.page2 {
  width: 40%;
  position: relative;
  top: 150px;
  left: 20px;
  float: left;
}

.tv1 {
  position: absolute;
  right: 0%;
  display: inline-block;
  height: 410px;
  z-index: 1;
}

.video1 {
  position: absolute;
  top: 86px;
  right: 78px;
  width: 395px;
  /* z-index: 0; */
}

.page2 h1,
.page3 h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 22px;
}

.page2 h3,
.page3 h3 {
  font-size: 26px;
  font-weight: 400;
  line-height: normal;
}

.page3 {
  float: right;
  width: 50%;
  position: relative;
  top: 150px;
}

.mobile {
  display: inline-block;
  position: absolute;
  left: -5%;
  top: 5%;
  width: 550px;
}

.down-box {
  position: fixed;
  top: 300px;
  left: 40px;
  width: 350px;
  height: 100px;
  background-color: #000;
  border-radius: 15px;
  border-style: solid;
  border-color: #696969;
}

.strngr {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  width: 65px;
  height: 78px;
}

.down-box h3 {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 85px;
}

.down-box p {
  display: inline-block;
  position: absolute;
  top: 48px;
  left: 85px;
  color: #0045bd;
}

.download {
  position: absolute;
  right: 10px;
  top: 15px;
  width: 60px;
}

.tv2 {
  position: absolute;
  top: 55px;
  right: 0%;
  display: inline-block;
  height: 410px;
  z-index: 1;
}

.video2 {
  position: absolute;
  top: 86px;
  right: 111px;
  width: 330px;
}

.child {
  display: inline-block;
  position: absolute;
  top: 25%;
  width: 500px;
}

.faq {
  width: 100%;
  min-height: 1050px;
  background-color: black;
  color: #fff;
  text-align: center;
}

.outer-box {
  width: 90%;
  height: 90%;
  /* min-height: 972px; */
  margin: auto;
  text-align: center;
}

.heading {
  margin-bottom: 100px;
  padding-top: 75px;
  font-size: 50px;
}

.faq .outer-box .questions {
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  min-width: 600px;
  width: 65%;
  padding: 25px;
  padding-left: 35px;
  background-color: #303030;
  color: #fff;
  margin-bottom: 2px;
  margin-top: 6px;
  text-align: left;
  font-size: 26px;
}

.faq .outer-box .answer {
  display: none;
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  min-width: 600px;
  width: 65%;
  /* height: 70px; */
  padding: 25px;
  padding-left: 35px;
  background-color: #303030;
  color: #fff;
  margin-bottom: 8px;
  text-align: left;
  font-size: 26px;
}

.questions h1 {
  font-weight: 100;
  font-size: 26px;
}
.questions span {
  position: absolute;
  top: 18%;
  right: 22px;
  /* float: right; */
  cursor: pointer;
  font-size: 50px;
  font-weight: lighter;
  /* transform: rotate(45deg); */
}

/* .thin-plus {
  width: 1em;
  height: 1em;
  transform: rotate(45deg);
} */

.rotate {
  transform: rotate(45deg);
}

#para {
  position: relative;
  top: 65px;
  font-size: 20px;
}

.input-faq {
  width: 650px;
  position: relative;
  left: 50%;
  top: 120px;
  transform: translate(-50%);
  text-align: center;
}

.footer {
  width: 100%;
  height: 400px;
  background-color: #000;
  color: rgb(117, 117, 117);
}

.footer-content {
  width: 70%;
  height: 250px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-content a {
  text-decoration: none;
  color: rgb(117, 117, 117);
}

.footer-content a:hover {
  text-decoration: underline;
}

.footer-list {
  margin-top: 25px;
  max-width: 1000px;
  font-size: 13px;
}

.footer-list-items {
  width: 23%;
  color: rgb(117, 117, 117);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-list-items:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 949px) {
  .page2 {
    display: block;
    width: 100%;
  }
  .tv1 {
    display: block;
    width: 100%;
  }
}

/*
@media only screen and (max-width: 549px) {
  .main-container {
    width: 100%;
    height: 100vh;
  }

  .main-container::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 90px 100px 250px #000, inset -90px -100px 250px #000;
  }

  .sign-in {
    padding: 5px 8px;
  }

  .get-started {
    margin-top: 20px;
  }
}
*/
